In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("data.csv",encoding="ISO-8859-1")

In [72]:
df.tail(1)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
4100,2016-07-01,1,A 117-year-old woman in Mexico City finally re...,IMF chief backs Athens as permanent Olympic host,"The president of France says if Brexit won, so...",British Man Who Must Give Police 24 Hours' Not...,100+ Nobel laureates urge Greenpeace to stop o...,Brazil: Huge spike in number of police killing...,Austria's highest court annuls presidential el...,"Facebook wins privacy case, can track any Belg...",...,"The United States has placed Myanmar, Uzbekist...",S&amp;P revises European Union credit rating t...,India gets $1 billion loan from World Bank for...,U.S. sailors detained by Iran spoke too much u...,Mass fish kill in Vietnam solved as Taiwan ste...,Philippines president Rodrigo Duterte urges pe...,Spain arrests three Pakistanis accused of prom...,"Venezuela, where anger over food shortages is ...",A Hindu temple worker has been killed by three...,Ozone layer hole seems to be healing - US &amp...

In [50]:
train=df[:][:3500]
test=df[:][3500:]

In [52]:
#removing anything except [a-zA-Z],i.e any punctuator with " "
data=train.drop(["Date","Label"],axis=1)
data.replace('[^a-zA-Z]'," ",regex=True,inplace=True)

In [53]:
#renaming all columns with numerical value
name=[i for i in range(1,26)]
data.columns=name
data.head(1)

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
0,A hindrance to operations extracts from the...,Scorecard,Hughes instant hit buoys Blues,Jack gets his skates on at ice cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,Derby raise a glass to Strupar s debut double,Southgate strikes Leeds pay the penalty,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl s successor drawn into scandal,The difference between men and women,Sara Denver nurse turned solicitor,Diana s landmine crusade put Tories in a panic,Yeltsin s resignation caught opposition flat f...,Russian roulette,Sold out,Recovering a title

In [54]:
#for save text pre processing...here we converted all text in dataset as small case text
for feature in data.columns:
    data[feature]=data[feature].str.lower()      
data.head(1)

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
0,a hindrance to operations extracts from the...,scorecard,hughes instant hit buoys blues,jack gets his skates on at ice cold alex,chaos as maracana builds up for united,depleted leicester prevail as elliott spoils e...,hungry spurs sense rich pickings,gunners so wide of an easy target,derby raise a glass to strupar s debut double,southgate strikes leeds pay the penalty,...,flintoff injury piles on woe for england,hunters threaten jospin with new battle of the...,kohl s successor drawn into scandal,the difference between men and women,sara denver nurse turned solicitor,diana s landmine crusade put tories in a panic,yeltsin s resignation caught opposition flat f...,russian roulette,sold out,recovering a title

In [55]:
#Now we'll try combining all the 25 column headline(Text) of a single row...and do the same for all rows
combined=[]     ##will be furthur used for storing combined headlines
# Combined=[headline+headline  for row in range(0,len(data.index)) for headline in data.iloc[row,0:25]]
headline=""
for row in range(0,len(data.index)):
    for txt in data.iloc[row,0:25]:
        headline=headline+str(txt)+" "
    combined.append(headline)
    headline=""
    
combined[0]

'a  hindrance to operations   extracts from the leaked reports scorecard hughes  instant hit buoys blues jack gets his skates on at ice cold alex chaos as maracana builds up for united depleted leicester prevail as elliott spoils everton s party hungry spurs sense rich pickings gunners so wide of an easy target derby raise a glass to strupar s debut double southgate strikes  leeds pay the penalty hammers hand robson a youthful lesson saints party like it s      wear wolves have turned into lambs stump mike catches testy gough s taunt langer escapes to hit     flintoff injury piles on woe for england hunters threaten jospin with new battle of the somme kohl s successor drawn into scandal the difference between men and women sara denver  nurse turned solicitor diana s landmine crusade put tories in a panic yeltsin s resignation caught opposition flat footed russian roulette sold out recovering a title '

# USING COUNT VECTORIZER
for all of those who don't know...since machines do not know the text language and here we are dealing with plain gramatical words...so using NPL(Natural Language Processing) we'll be assigning a new column to each and every unique word and when found in an element we'll just be assigning 1 for it..else 0.
And thus in this way we'll be overcomming this plain text problem
And the module which help's us in doing so is COUNT VECTORISER

In [56]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier

here what ngram_range means is that...after all unique words forming a new column...now 2x2 permutation of words will be formed and added as new columns

In [57]:
#fitting
cv=CountVectorizer(ngram_range=(2,2))
train_data_cv=cv.fit_transform(combined)

In [60]:
rc=RandomForestClassifier(n_estimators=200,criterion='entropy')
rc.fit(train_data_cv,train.Label)

RandomForestClassifier(criterion='entropy', n_estimators=200)

# NLP with Test data
Now working on test data...wrangling it too

In [61]:
#droping unnecessary columns in test data and removing any non-alphabetical character 
data=test.drop(['Date','Label'],axis=1)
data.replace("[^a-zA-Z]"," ",regex=True,inplace=True)

In [62]:
#renaming all columns with numerical value
name=[i for i in range(1,26)]
data.columns=name
data.head(1)

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
3500,London City Banker tried to put neighbour in m...,Italy court overturns law equating cannabis wi...,Venezuela anti government rally turns deadly,Slaughtered for Ivory of Forest Elephants...,Massive Protests in Venezuela ignored by local...,The risk of reporting US drone strikes Yemen ...,Mexican Tycoon Becomes First Foreigner to Expl...,Britain warns Scotland Forget the pound if yo...,UK launches fund to help male victims ...,German postwoman sacked for taking too much ti...,...,EU tells Britain to include Prostitutes And Dr...,Venezuela One Wounded Two Dead after Opposit...,Chinese villagers attack factory after reports...,Strange S shaped phenomenon appears off West...,China announces B air pollution fund,The Bank of England has confirmed that economi...,Male prostitution on the rise in Lebanon,Indian Parliament erupts in chaos after MP use...,Spain makes abortion a criminal offense,Nuclear fusion breakthrough raises hopes for u...

In [63]:
#for save text pre processing...here we converted all text in dataset as small case text
for feature in data.columns:
    data[feature]=data[feature].str.lower()

In [64]:
# Now we'll try combining all the 25 column headline(Text) of a single row...and do the same for all rows
combined=[]     ##will be furthur used for storing combined headlines
# Combined=[headline+headline  for row in range(0,len(data.index)) for headline in data.iloc[row,0:25]]
headline=""
for row in range(0,len(data.index)):
    for txt in data.iloc[row,0:25]:
        headline=headline+str(txt)+" "
    combined.append(headline)
    headline=""

# Applying count_vectorizer in test data

In [65]:
cv_test=CountVectorizer(vocabulary=cv.get_feature_names(),ngram_range=(2,2))

test_data_cv=cv_test.transform(combined)

C:\Python37\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [66]:
test_data_cv.shape

(601, 501554)

In [67]:
predictions=rc.predict(test_data_cv)

In [68]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [69]:
print(confusion_matrix(test.Label,predictions))

[[ 29 253]
 [ 35 284]]

In [70]:
print(accuracy_score(test.Label,predictions))

0.5207986688851913

In [71]:
print(classification_report(test.Label,predictions))

              precision    recall  f1-score   support

           0       0.45      0.10      0.17       282
           1       0.53      0.89      0.66       319

    accuracy                           0.52       601
   macro avg       0.49      0.50      0.42       601
weighted avg       0.49      0.52      0.43       601

Now many of you might contradict my point of approach which i too think is not yet the best one...but a good one to start with if working on NLP.
Here i should have vectorised whole of dataset after cleaning and wrangling and then sliced it for train andd test data.And this i blv would have been the best approach.
But still we achieved an accuracy of 52% which i wouldn't say is the best...but good one for an NLP project.